node_modules
/dist
/web/*
/temp
plugins/*
projects/*
env/python/win32/*
env/python/darwin/*
env/python/win32_pack/*
env/python/darwin_pack/*
public/base_integration/uiauto_executor/base/__pycache__/*
public/base_integration/uiauto_executor/__pycache__/*
public/base_integration/uiauto_executor/base/screenrecorder/__pycache__/*
.uiauto/temp/*
oci.dll
oraocci11.dll
oraociei11.dll
.idea/*
yarn-error.log

env/jre/win32/*
env/jre/win32_pack/*
env/jre/darwin/*
env/jre/darwin_pack/*
*/__pycache__
