@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 10px;
  margin-top: 40px;

  textarea:focus {
    outline: none;
  }
}

.app-actionBar {
  height: 40px;
  z-index: 20;
  width: calc(100% - 60px);
  position: fixed;
  background: #fff;
  top: 30px;
  border-bottom: 1px solid #eee;

  .left-menu {
    float: left;
    line-height: 40px;
    font-size: 14px;
    margin-left: 15px;
  }

  .action-button {
    float: right;
    margin: 6px 10px;
    height: 30px;
  }

  .header-search {
    float: right;
    line-height: 40px;

    .search-icon {
      cursor: pointer;
      font-size: 18px;
      margin-bottom: 5px;
      vertical-align: middle;
    }

    .header-search-select {
      font-size: 14px;
      margin-bottom: 5px;
      transition: width 0.2s;
      width: 210px;
      margin-left: 10px;
      overflow: hidden;
      background: transparent;
      border-radius: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

// .pagination-container {
//   margin-top: 30px;
// }


/*webkit内核*/
.hide-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

.hide-scroll::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0);
}

.hide-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.hide-scroll::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

.hide-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

.hide-scroll::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

.hide-scroll::-webkit-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 0);
}

.hide-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
